.mynameiskenzie {
    text-align: center;
    font-size: 30px; 
    font-family: fantasy;
        
}


.funfacts {
    font-size:23px;
    text-align: center; 
    
}

.favorites {
    text-align: center;
}
